*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body{
  background-color: white;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 100%;
  height: 100vh;
  padding: 2%;
}

.grid-item{
  border: 1px solid #6f0550;
  font-size: 3em;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu{
  background-color: #6c5b7b;
  grid-column: 1 / 11;
  grid-row: 1 / 3;
}

.aside{
  background-color: #c06c84;
  grid-column: 1 / 4;
  grid-row: 3 / 9;
}

.text{
  background-color: #f67280;
  grid-column: 4 / 11;
  grid-row: 3 / 9;
}

.footer{
  background-color: #f8b195;
  grid-column: 1 / 11;
  grid-row: 9 / 11;
}

@media screen and (max-width: 860px){
  nav div a{
      border: 1px solid #B5C2BF;
  }

  nav p img{
      justify-content: center;
      width: 70%;
  }

  nav div p{
      font-size: 1em;
      margin-left: 10px;
      margin-right: 10px;
  }

  .aside{
      grid-column: 1 / 11;
      grid-row: 3 / 4;
  }
  
  .text{
      grid-column: 1 / 11;
      grid-row: 4 / 9;
  }
}

@media screen and (max-width: 640px){
  nav{
      width: 447px;
      display: block;
      margin: auto;
  }


  nav div a{
      border: 1px solid #B5C2BF;
  }

  nav .logos{
      display: none;
  }

  nav div p{
      font-size: 1em;
      margin-left: 10px;
      margin-right: 10px;
  }

  .aside{
      grid-column: 1 / 11;
      grid-row: 3 / 4;
  }
  
  .text{
      grid-column: 1 / 11;
      grid-row: 4 / 9;
  }
}

@media screen and (max-width: 445px){
  .grid-container{
     width: 440px;
     height: auto;
     text-align: center;
  }
  
  nav{
      width: 447px;
      display: block;
      margin: auto;
  }


  nav div a{
      border: 1px solid #B5C2BF;
  }

  nav .logos{
      display: none;
  }

  nav div p{
      font-size: 1em;
      margin-left: 10px;
      margin-right: 10px;
  }
}