*{
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.header{
  position: sticky;
  top: 0;
  box-shadow: 0px 2px 5px #c8c8c8;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.topnavbar{
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: 0 auto;
  align-items: stretch;
}

.sides-nav{
  list-style: none;
  padding: 10px;
  background-color: #201E1E;
}

.sides-nav li img{
  height: 4rem;
}

.middle-nav{
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.middle-nav a{
  display: flex;
  width: 95%;
  height: 100%;
  background-color:#201E1E ;
  justify-content: center;
  align-items: center;
  color: #B5C2BF;
  text-decoration: none;
}

nav div a:hover{
  background-color: #B5C2BF ;
  color: #201E1E;
}

.block-tarjeta{
  display: flex;
  justify-content: center;
  align-content: center;
}

.tarjeta{
  box-sizing: border-box;
  max-width: 1400px;
  max-height: 1076px;
  margin-bottom: 30px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.image-block{
  box-sizing: border-box;

}

.tarjeta .image-block img{
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}

.text-block{
  display: flex;
  margin: 0 auto;
  max-width: 900px;
  padding: 32px 16px;
  color: white;
  font-size: calc(1.0188rem + .2256vw);
  font-family: -apple-system, -apple-system, 
  BlinkMacSystemFont, 'Segoe UI', Roboto,  
  Oxygen, Ubuntu, Cantarell, 'Open Sans', 
  'Helvetica Neue', sans-serif;
  align-items: center;
  justify-content: center;
}

.tarjeta .block{
  max-width: 83%;
  text-align: center;
  vertical-align: middle;
}

.text-block .block h2{
  line-height: 1.385;
  font-weight: 800;
  margin-bottom: 1rem;
}

.body-text{
  margin-top: 24px;
  margin-bottom: 30px;
  line-height: 1.75;
}

.body-text p{
  margin-bottom: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.block .button-tarjeta5 a button{
  background: none;
  border-radius: 50px;
  border: 1px solid white;
  padding: 7px 16px;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.uno{
  background-color: #1e3932;
}

.dos{
  background-color: #0044b4;
}

.tres{
  background-color: #d50032;
}

/*Tarjetas verticales*/

.vertical-block{
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.vertical-block .vertical-tarjetas{
  display: grid;
  max-width: 1400px;
  margin-bottom: 20px;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.vertical-block .vertical-tarjetas .tarjeta-vertical{
  display: grid;
  grid-template-rows: repeat(2)
  
}

.vertical-block .vertical-tarjetas .tarjeta-vertical .vertical-image img{
  max-width: 100%;
  height: auto;
}

.red-card{
  background-color: #f6bfd9;
}

.blue-card{
  background-color: #98cde4;
}

.vertical-block .vertical-tarjetas .tarjeta-vertical .vertical-text-container{
  display: grid;
  grid-template-rows: repeat(2);
  max-width: 250px;
  padding: 32px 16px;
  margin: 0 auto;
  text-align: center;
  font-family: "Roboto", serif;
}

.vertical-block .vertical-tarjetas .tarjeta-vertical .vertical-text-container .vertical-text p{
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75;
  letter-spacing: .01em;
  margin-bottom: 2em;
}

.red-color p{
  color: #d50032;
}

.blue-color p{
  color: #003B49;
}

.vertical-block .vertical-tarjetas .tarjeta-vertical .vertical-text-container .vertical-button a button{
  display: inline-block;
  background: none;
  border-radius: 50px;
  padding: 7px 16px;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.vertical-block .vertical-tarjetas .tarjeta-vertical .vertical-text-container .vertical-button a .button1{
  color: #d50032;
  border: 1px solid #d50032;
}

.vertical-block .vertical-tarjetas .tarjeta-vertical .vertical-text-container .vertical-button a .button2{
  color: #003B49;
  border: 1px solid #003B49;
}